---
interface Props {
	name: string
	message: string
	since: string
	src: string
}

const { name, message, since, src } = Astro.props
---

<div class='bg-ritual-700 rounded-sm p-6'>
	<div class='flex items-start'>
		<div class='mr-4 h-12 w-12 flex-shrink-0 overflow-hidden rounded-full'>
			<img
				src={src}
				alt={name}
				class='h-full w-full object-cover'
			/>
		</div>
		<div>
			<p class='mb-3 text-gray-300 italic'>{message}</p>
			<p class='text-vessel-500 font-medium'>{name}</p>
			<p class='text-sm text-gray-400'>{since}</p>
		</div>
	</div>
</div>
