---
import Album from '~/components/Album.astro'
import { Discographies } from '~/constants/index'
---

<section
	id='discografia'
	class='bg-ritual-800 py-24'
>
	<div class='container mx-auto px-6'>
		<div class='mb-16 flex flex-col items-center justify-between md:flex-row'>
			<h2 class='font-ritual mb-4 text-4xl md:mb-0 md:text-5xl'>DISCOGRAFÍA</h2>
			<div class='bg-vessel-500/50 h-px w-full max-w-xs'></div>
		</div>

		<div class='grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4'>
			{
				Discographies.map(({ alt, height, imgName, name, releaseDate, slug, width }) => {
					return (
						<Album
							name={name}
							imgName={imgName}
							width={width}
							height={height}
							releaseDate={releaseDate}
							slug={slug}
							alt={alt}
						/>
					)
				})
			}
		</div>
	</div>
</section>
