---
import type { Image } from '~/types'

interface Props {
  title: string
  by: string
  filter: string
  image: Image
}

const { title, by, filter, image } = Astro.props
---

<article
  class='bg-ritual-800 cursor-pointer overflow-hidden rounded-lg transition-all duration-300 hover:scale-105 hover:transform'
>
  <div class='flex aspect-square items-center justify-center'>
    <img
      src={image.src}
      alt={image.alt}
      width={image.width}
      height={image.height}
    />
  </div>
  <div class='p-3'>
    <h3 class='mb-1 text-sm font-semibold text-white'>{title}</h3>
    <p class='mb-2 text-xs text-gray-400'>by {by}</p>
    <div class='flex items-center justify-between'>
      <span class='text-xs text-gray-500'>{filter}</span>
    </div>
  </div>
</article>
